main
    font-family: "Early GameBoy", sans-serif
    border: 0.5rem double #181010
    padding: 1rem
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
    margin: 1rem
    background:  #fff
    border-top: 1rem solid #181010
    border-bottom: 1rem solid #181010
header 
    margin-bottom: 0.5rem

footer 
    display: flex
    justify-content: center
    margin-top: 1rem